/* PreloaderCard-grp & PreloaderCard Styles */

@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.preloader__card-grp {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.preloader__card {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border: 1px solid #f90;
	border-radius: 5px;
}

.card__title {
	color: #fff;
	font-family: 'Orbitron', serif;
	font-size: 1.6rem;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.card__text {
	font-size: 1.2rem;
	font-weight: 500;
	text-align: justify;
}

@media screen and (orientation: landscape) {
	.preloader__card-grp {
		flex-flow: row wrap;
		align-items: stretch;
	}

	.preloader__card {
		width: 47%;
	}
}