/* Preloader Component Styles Modyle */
/* ============ Preloader Styles ============ */
.preloader__wrapper {
	width: 90%;
	margin: 5vh auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1.2vh;
}

.preloader__title-main {
	/* margin-top: 0.5rem; */
	color: #f90;
	font-family: 'Orbitron', serif;
	font-size: 2.2rem;
	line-height: 2.8rem;
	font-weight: 900;
	text-transform: uppercase;
}

.preloader__title {
	/* margin-top: 0.5rem; */
	color: #fff;
	font-family: 'Orbitron', serif;
	font-size: 1.6rem;
	line-height: 2.2rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

/* ============ Preloader Button Styles ============ */
.preloader__button {
	width: 80%;
	margin: 1rem auto 0;
	padding: 0.5rem;
	background-color: #f90;
	border: none;
	border-radius: 200px;
	color: #fff;
	font-family: 'Orbitron', serif;
	font-size: 1.3rem;
	font-weight: 900;
	text-transform: uppercase;
	cursor: pointer;
}

/* ============ PreloaderCardsGrp Styles ============ */
.preloader__cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: stretch;
	gap: 3vh;
}

/* ============ PreloaderCard Styles ============ */
.preloader__card {
	width: 49%;
	padding: 1rem;
	border: 1px solid #f90;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.card__title {
	color: #fff;
	font-family: 'Orbitron', serif;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.card__text {
	font-size: 1rem;
	font-weight: 500;
	text-align: justify;
}