/* Preview Component Styles Modyle */
.preview {
	width: 73%;
	background-color: #353C3F;
	padding: 2rem;
	border: 2px solid #dedede;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}

.main__side {
	width: 74%;
}

.aside {
	width: 24%;
}

.preview hr {
	margin: 0.3rem 0;
}

.element {
	margin-top: 5vh;
}

.preview__about {
	margin: 15.1vh 0;
}

.element p {
	text-align: justify;
}

.skill__box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 8%;
}

.skill__item {
	width: 19%;
	padding: 0.25rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.skill__item:nth-child(1) {
	display: none;
}

.skill__img {
	/* width: 1.2rem; */
	height: 1.1rem;
}

.skill__text {
	font-size: 1rem;
}

.education__box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.education__item:nth-child(1) {
	display: none;
}

.education__item,
.exp__item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.edu__institution,
.exp__position {
	width: 36%;
}

.edu__speciality,
.exp__organization {
	width: 30%;
}

.edu__result,
.exp__responsibilities {
	width: 18%;
}

.edu__years,
.exp__years {
	width: 16%;
}

.education__item>.edu__years {
	text-align: right;
}

.exp__item>.exp__position,
.exp__item>.exp__organization,
.exp__item>.exp__responsibilities,
.exp__item>.exp__years {
	font-size: 0.8rem;
	text-align: left;
}

.exp__item>.exp__years {
	text-align: right;
}

.image {
	width: 100%;
	border: 2px solid #dedede;
	border-radius: 50%;
}

.contact__icon {
	height: 1rem;
}

.contact__text {
	font-size: 0.7rem;
}

.language__box {
	display: flex;
	justify-content: space-between;
}